NEXT_PUBLIC_SITE_URL=https://www.tmctechsolutions.com
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

RESEND_API_KEY=
RESEND_FROM_EMAIL=info@tmctechsolutions.com
SUPPORT_EMAIL=info@tmctechsolutions.com

PAYNOW_INTEGRATION_ID=
PAYNOW_INTEGRATION_KEY=
